<nav class="main-nav">
    <ul class="main-nav__list">

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Пункт меню 1</a>

            <ul class="main-nav__submenu show-menu">

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>

                    <ul class="main-nav__submenu show-menu">

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>
                        </li>

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>
                        </li>

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>

                            <ul class="main-nav__submenu show-menu">

                                <li class="main-nav__subitem hover-item">
                                    <a href="#" class="main-nav__sublink">Уровень меню 4</a>
                                </li>

                                <li class="main-nav__subitem hover-item">
                                    <a href="#" class="main-nav__sublink">Уровень меню 4</a>
                                </li>

                                <li class="main-nav__subitem hover-item">
                                    <a href="#" class="main-nav__sublink">Уровень меню 4</a>
                                </li>

                            </ul>

                        </li>

                    </ul>

                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

            </ul>

        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Пункт меню 2</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Пункт меню 3</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Пункт меню 4</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Пункт меню 5</a>

            <ul class="main-nav__submenu show-menu">

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

            </ul>

        </li>

    </ul>
</nav>